# Ignoriere secrets
config/secrets.json


# Backup und Archiv ignorieren
backup/
backup.git/
archiv/
archiv/tests/

# Editor-spezifische Dateien
.vscode/
*.code-workspace  # Generisch für alle Workspaces

# Umgebung und Caches
*venv
venv/
*.vscode*
*gpt*
*copy-bin*
*esp32*
ESP32/

# Sonstiges
ToDo

