[Unit]
Description=WiFi Hotspot Service
After=network.target
Requires=NetworkManager.service

[Service]
Type=simple
User=root
WorkingDirectory=/home/pi/Netgear-Feedback
ExecStart=/home/pi/Netgear-Feedback/venv/bin/python3 /home/pi/Netgear-Feedback/hotspot/hotspot.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target