[Unit]
Description=WiFi Hotspot Service
After=network.target
Requires=NetworkManager.service

[Service]
Type=simple
User=root
WorkingDirectory=/home/pi/Netgear-Feedback
Environment=/home/pi/Netgear-Feedback/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/home/pi/Netgear-Feedback/venv/bin/python3 hotspot.hotspot
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target