##setup/requirements.txt##
# Core
flask
Werkzeug
gunicorn

# Network & Security
requests
urllib3
cryptography
PyJWT
flask-wtf
cachetools

# Hardware
rpi-ws281x
RPi.GPIO
gpiozero

# Network Management
python-networkmanager
dnspython

# Utils
python-dotenv
pillow
spidev

# Display
qrcode[pil]
numpy
