[Unit]
Description=Switch Monitor Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/pi/Netgear-Feedback

Environment="OPENSSL_CONF=/home/pi/Netgear-Feedback/settings/openssl.cnf"
ExecStart=/home/pi/Netgear-Feedback/venv/bin/python3 -m src.main hotspot.flask-server
Restart=always
RestartSec=2
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target